.active {font-style: italic;}
.shazam {font-weight: bold;}

img {height: 100px;}

table td {
  padding: 4px;
  border: 1px solid #e0e0e0;
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/